* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100%;

}

nav {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: black;

}

h4 {
    color: #f50514;
    font-weight: 700;
    font-size: 18px;
}

.logo {
    width: 25px;
    position: relative;
    left: 25px;
}

.search {
    width: 20px;
}

.cart {
    width: 20px;
}

.profile {
    width: 20px;
}

.hero-section {
    width: 100%;
    height: 607px;
    background-image: url("https://oasis.opstatics.com/content/dam/oasis/page/2023/in/kv-banner/oneplus-11/1_OP11_3color-tablet.jpg.thumb.webp");
    background-size: cover;
}

.heading1 {
    position: absolute;
    top: 180px;
    left: 70px;
    font-size: 50px;
    font-weight: 400;
}

.hero-text {
    position: absolute;
    top: 450px;
    left: 60px;
}

.para1 {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.para2 {
    font-size: 23px;
    font-weight: 400;
    color: white;
}

.para3 {
    padding-bottom: 20px;
    font-size: 23px;
    font-weight: 400;
    color: white;
}

.btn1 {
    padding: 10px 110px;
    font-size: 17px;
    border: none;
    border-radius: 2px;
}

.hero-section2 {
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero1 {
    width: 40%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.hero1-heading {
    width: 410px;
    height: 150px;
}

.heading2 {
    font-size: 50px;
    font-weight: 400;
}

sup {
    font-size: 30px;
}

.hero1-text {
    width: 480px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.heading-three1 {
    width: 415px;
    font-weight: 500;
}

.btn-container1 {
    width: 425px;
}

.btn2 {
    padding: 10px 70px;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border: none;
}

.btn3 {
    padding: 9px 65px;
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
}


.hero2 {
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneplus11-img {
    width: 780px;
}

.hero-section3 {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero3 {
    background-color: #f8f8f8;
    width: 45%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneplus-tv {
    width: 250px;
}

.hero3-heading {
    width: 300px;
    height: 150px;
}

.hero3-text2 {
    width: 300px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.para5 {
    width: 300px;
}

.heading-three2 {
    width: 295px;
    font-weight: 600;
}

.btn4 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 43px;
    background-color: black;
    color: white;
    border: none;
}

.btn5 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 30px;
    background-color: #f8f8f8;
    border: 1px solid black;
}


.hero4 {
    width: 45%;
    height: 400px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero4-text {
    height: 350px;
    width: 210px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.oneplus-buds {
    width: 250px;
}

.hero4-text1 {
    height: 300px;
    width: 230px;

}

.para-heading {
    font-size: 16px;
    font-weight: 600;
}

.heading3 {
    font-weight: 400;
    font-size: 35px;
}

.hero4-text2 {
    height: 350px;
    width: 250px;
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    flex-direction: column;
}

.para7 {
    font-size: 18px;
    font-weight: 500;
}

.btn6 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 25px;
    border: none;
    background-color: black;
    color: white;
}

.btn7 {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid black;
    background-color: #f8f8f8;
}

.hot-picks {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.para8 {
    width: 95%;
    font-size: 20px;
    border-bottom: 2px solid rgb(205, 202, 202);
    padding-bottom: 10px;
}

.navbar2 {
    width: 700px;
    height: 40px;
}

.list-item2 {
    font-size: 20px;
}


.four-card {
    width: 100%;
    height: 4 00px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.card1 {
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card1-img {
    width: 400px;
}

.card2-img {
    width: 400px;
}

.card3-img {
    width: 300px;
}

.card4-img {
    width: 300px;
}

.card2 {
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card3 {
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card4 {
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four-content {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.content1 {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.content2 {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.content3 {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.content4 {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.para9 {
    font-size: 15px;
}

.cart-btn {
    width: 20px;
}

.btn8 {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: white;
}

.heading4 {
    font-weight: 500;
}

.heading5 {
    font-size: 30px;
    font-weight: 500;
}

.heading6 {
    font-size: 27px;
    font-weight: 500;
}

.heading7 {
    font-size: 27px;
    font-weight: 500;
}

.btn9 {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: white;
}

.btn10 {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: white;
}

.btn11 {
    width: 300px;
    height: 40px;
    font-size: 20px;
    border: none;
    background-color: white;
}

.para10 {
    color: #e80637;
    font-weight: 500;
}

.para12 {
    color: #e80637;
    font-weight: 500;
}

.para14 {
    color: #e80637;
    font-weight: 500;
}


.view-all {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.view {
    font-size: 18px;
    font-weight: 500;
}

.black-part-container {
    width: 100%;
    height: 2500px;
    background-color: black;
    color: white;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
}

.oneplus-featuring {
    width: 210px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oneplus-featuring2 {
    width: 97%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.under-line {
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 94%;
    height: 1px;
    background-color: gray;
}

.big-heading {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center
}

.new-platform {
    width: 95%;
    font-size: 41px;
    font-weight: 400;
    padding-left: 6px;
}

.discover {
    color: #f50514;
}

.keyboard-section {
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.keyboard81 {
    width: 450px;
    height: 410px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.main-keyboard {
    width: 800px;
    padding-left: 15px;
}

.keyboard-img {
    width: 800px;
    height: 400px;
    background-image: url('./Image/20230406-keyboard-pc.jpg.thumb.webp');
    background-size: cover;
}

.keyboard-img:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.5s;
}

.rewrite {
    font-size: 25px;
    font-weight: 500;
}

.keyboard-pro {
    font-size: 45px;
    font-weight: 500;
}


.power-by {
    font-size: 17px;
    font-weight: 400;
    padding-bottom: 30px;
}

.notify {
    color: white;
    border-bottom: 1px solid white;
}

.notify:hover {
    color: blue;
    border-bottom: 1px solid blue;
    transition: all ease 0.2s;
    cursor: pointer;
}

.ns-img {
    width: 800px;
}

.ns-img:hover {
    transform: scale(1.05);
    transition: all ease-in-out 0.5s;
}

.never-settle-section {
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.never-settle-section2 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.never-settle-text {
    width: 520px;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.evolve {
    font-size: 45px;
    padding-left: 40px;
    font-weight: 500;
}

.discover-para {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}

.discover-para2 {
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 20px;
}

.learn {
    color: white;
    font-size: 18px;
    border-bottom: 1px solid white;
}

.learn:hover {
    color: blue;
    border-bottom: 1px solid blue;
    transition: all ease 0.5s;
}

.card-container {
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inspired-card {
    width: 320px;
    height: 400px;
    background-color: rgb(64, 63, 63);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.inspired-by {
    width: 280px;
    height: 200px;
}

.oxygen-13 {
    color: #FFFFFF4C;
    font-size: 25px;
    font-weight: 500;
}

.inspired-heading {
    font-size: 30px;
    font-weight: 400;
}

.inspired-para {
    width: 280px;
    height: 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.oxygen {
    font-size: 15px;
    font-weight: 500;
}

.inspired-learn {
    width: 86px;
    font-size: 17px;
    font-weight: 400;
    color: white;
    border-bottom: 1px solid white;
}

.inspired-learn:hover {
    color: blue;
    border-bottom: 1px solid blue;
    transition: all ease 0.5s;
}

.oxygenos {
    width: 320px;
    height: 400px;
    background-image: url('./Image/oxygenos13-pc.jpg.thumb.webp');
    background-size: cover;
}

.small-pc {
    width: 320px;
    height: 400px;
    background-image: url('./Image/small-pc.jpg.thumb.webp');
    background-size: cover;
}

.white-part-container {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    color: black;
}

.white-learn {
    color: black;
    font-size: 17px;
    font-weight: 400;
    border-bottom: 1px solid black;
}

.white-learn:hover {
    color: blue;
    border-bottom: 1px solid blue;
    transition: all ease 0.5s;
}

.three-card-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.shot-on-oneplus {
    width: 400px;
    height: 480px;
}

.shot-on-img2 {
    width: 400px;
    height: 300px;
    background-image: url('./Image/card2pc.jpg.thumb.webp');
    background-size: cover;
}

.shot-on-img3 {
    width: 400px;
    height: 300px;
    background-image: url('./Image/card3pc.jpg.thumb.webp');
    background-size: cover;
}

.shot-on-img {
    width: 400px;
    height: 300px;
    background-image: url('./Image/card1pc.jpg.thumb.webp');
    background-size: cover;
}

.shot-on-text {
    width: 400px;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.shot-on-heading {
    font-size: 30px;
    font-weight: 400;
}

.shot-on-para {
    color: #000000C7;
}

.read-more {
    border-bottom: 1px solid black;
    width: 80px;
}

.read-more:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

.black-white {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.four-card-container {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inspired-card2 {
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.one-on {
    color: #00000066;
    font-weight: 400;
    font-size: 22px;
}

.inspired-para2 {
    width: 280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inspired-learn2 {
    border-bottom: 1px solid black;
    width: 70px;
    font-weight: 500;
}

.inspired-learn2:hover {
    border-bottom: 1px solid blue;
    color: blue;
    transition: all ease 0.5s;
}

.msg-img {
    width: 300px;
    height: 400px;
    background-image: url('./Image/Helpdesk-PC.jpg.thumb.webp');
    background-size: cover;
}

.inspired-para3 {
    width: 280px;
    height: 120px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.inspired-learn3 {
    border-bottom: 1px solid black;
    width: 200px;
    font-weight: 500;
}

.inspired-learn3:hover {
    color: blue;
    border-bottom: 1px solid blue;
}

.setting-img {
    width: 300px;
    height: 400px;
    background-image: url('./Image/Service-Center-desktop.jpg.thumb.webp');
    background-size: cover;
}

.product {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-help1 {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(84, 83, 83);
    border-bottom: 1px solid rgb(84, 83, 83);
}


.product-help2 {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(84, 83, 83);
    ;
    border-top: 1px solid rgb(84, 83, 83);
    border-bottom: 1px solid rgb(84, 83, 83);
}

.product-help3 {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(84, 83, 83);
}

.product-help4 {
    width: 300px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(84, 83, 83);
    border-bottom: 1px solid rgb(84, 83, 83);
}

.pro {
    width: 250px;
    font-weight: 400;
}

.oneplus-featuring3 {
    width: 280px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.under-line3 {
    width: 100%;
    height: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line3 {
    width: 90%;
    height: 1px;
    background-color: gray;
}

.last-part {
    width: 100%;
    height: 460px;
    background-color: black;
    color: white;
}

.two-card-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.shop {
    width: 600px;
    height: 300px;
    background-image: url('./Image/APPdownload_PC_Red_New.png.thumb.webp');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.shop2 {
    width: 600px;
    height: 300px;
    background-image: url('./Image/Subscribe-PC-2card.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.shop-with {
    width: 350px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.shop-heading {
    font-weight: 500;
}

.shop-para {
    width: 292px;
    font-weight: 500;
    color: rgb(236, 233, 233);
}

.google {
    width: 360px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.google2 {
    width: 360px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.google-btn {
    font-size: 19px;
    font-weight: 500;
    color: white;
    background: none;
    border: 1px solid grey;
    padding: 10px 97px;
}

.btn-para {
    color: rgb(220, 217, 217);
    font-size: 12px;
    width: 300px;
}

.footer1 {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.phone {
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.phone2 {
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 450px;
}



.phone-heading2 {
    width: 220px;
    color: rgb(88, 84, 84);
    font-weight: 500;
}

.footer-list {
    width: 200px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.footer-anchor {
    width: 220px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(176, 173, 173);
}

.footer-anchor2 {
    width: 220px;
    font-size: 18px;
    font-weight: 500;
    color: rgb(176, 173, 173);
    padding-top: 20px;
    padding-left: 10px;
}

.credit {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.credit1 {
    width: 500px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 15px;
    font-weight: 500;
    color: rgb(176, 173, 173);
}

.credit2 {
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact {
    font-size: 20px;
    color: blue;
}

.fb {
    width: 20px;
}

.insta {
    width: 20px;
}

.tw {
    width: 20px;
}

.last-line {
    width: 100%;
    height: 1px;
    background-color: grey;
}

.footer2 {
    width: 100%;
    height: 140px;
}

.india {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;

    justify-content: space-around;
}

.flag {
    display: flex;
    width: 600px;
}

.india-flag {
    width: 30px;
}

.india-tag {
    font-size: 20px;
    font-weight: 400;
}

.all-right {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 25px;
    padding-left: 25px;
}